.cover {
    background-size: contain !important;
}
table {
    margin: auto;
}
th {
    padding: 10px;
    border-bottom: 5px solid black;
}
td {
    padding: 10px;
    border-bottom: 2px solid black;
}
tr:first-of-type td {
    border-top: initial;
}
table img {
    margin: auto;
    width: 90% !important;
}
img {
    box-shadow: 5px 5px 10px 0px #00380C;
}