.cover {
    background-size: contain !important;
}
table {
    margin: auto;
    display: block;
    max-width: max-content;
    overflow-x: auto;
    border: 1px solid grey;
}
th {
    padding: 10px;
    border-bottom: 5px solid black;
}
td {
    padding: 10px;
    border-bottom: 2px solid black;
}
tr:first-of-type td {
    border-top: initial;
}
table img {
    margin: auto;
    width: 90% !important;
}
nav a[href="/vex/"]:before {
    content: url("/img/vex/logo-circle.png");
    height: 1.5em;
    width: 1.5em;
    display: inline-flex;
    vertical-align: middle;
}
nav a[href="/mate/"]:before {
    content: url("/img/mate/logo-circle.png");
    height: 1.5em;
    width: 1.5em;
    display: inline-flex;
    vertical-align: middle;
}
nav a[href="/frc/"]:before {
    content: url("/img/frc/logo-circle.png");
    height: 1.5em;
    width: 1.5em;
    display: inline-flex;
    vertical-align: middle;
}
