.cover {
    background-size: contain !important;
    background-position: center;
}
table {
    margin: auto;
    display: block;
    max-width: max-content;
    overflow-x: auto;
    border: 1px solid grey;
}
th {
    padding: 10px;
    border-bottom: 5px solid black;
}
td {
    padding: 10px;
    border-bottom: 2px solid black;
}
tr:first-of-type td {
    border-top: initial;
}
table img {
    margin: auto;
    width: 90% !important;
}
.last-update-time {
    text-align: right;
    padding: 3em 1em 0 0;
    margin: 0;
    position: relative;
    bottom: 5em;
    pointer-events: none;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}
